.comment-form {
    max-width: 600px; /* Đặt giá trị max-width cho khung bình luận */
    margin-left: auto; /* Căn chỉnh khung bình luận vào giữa */
    margin-right: auto; 
}

.back-to-forum-btn {
    text-rendering: auto;
    font-weight: bold;
    -webkit-appearance: none; /* Cho các trình duyệt WebKit */
    appearance: none;
    background-color: #007bff;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.user-info {
    display: flex;
    align-items: center;
}

.avatar-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Thêm khoảng cách giữa avatar và thông tin */
}

.comment-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Thêm khoảng cách giữa avatar và thông tin */
}

