{% extends "app/base.html" %}

{% block main_content %}
<div class="d-flex justify-content-center">
  <div class="col-11"> 
    <h1>{{ post.title }}</h1>
    <div>Ngày đăng: {{ post.created_at }}</div>
    <div>Tác giả: {{ post.username.username }}</div>
    <p>{{ post.content|linebreaks }}</p>
    <h2>Bình luận</h2>
    {% for comment in comments %}
      <div>
        <p>Ngày đăng: {{ comment.created_at }}</p>
        <p>{{ comment.content }}</p>
        <p>Tác giả: {{ comment.username.username }}</p>
      </div>
  </div>
</div>
  {% endfor %}
{% endblock main_content %}