<div id="add-volume-form" style=" height: 100vh; position: fixed; z-index: 1031">
    <div class="overlay">
      <div class="overlay-dialog">
        <div class="col-8 dialog">
          <div class="dialog-body">
            <div class="dialog-container">
              <form action= {% url 'login' %} class="cmn-form-web" method="POST">
                {% csrf_token %}
                <div class="form-title">Thêm chương mới</div>
                <div class="form-input ">
                  <div class="el-input">
                    <input
                      type="text"
                      name="username"
                      id="username"
                      autocomplete="off"
                      class="el-input-inner"
                      placeholder=""
                    />
                    <label for="" class="input-label">Tên người dùng</label>
                  </div>
                  <div class="error-text" id="username-error" style="display: none;"></div>
                </div>
                <div class="form-input">
                  <div class="el-input">
                    <input
                      type="text"
                      name="password"
                      id="password"
                      autocomplete="new-password"
                      class="el-input-inner"
                      placeholder=""
                    />
                    <label for="" class="input-label">Mật khẩu</label>
                  </div>
                  <div class="error-text" id="password-error" style="display: none;"></div>
                </div>
                <button type="submit" class="el-button disable"><span>Đăng Nhập</span></button>
              <div class="dialog-close" onclick="closeLoginForm()">
                <i class="fa-solid fa-x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  