{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="{% static 'app\images\logo\main-logo-1.png' %}" type="image/x-icon">
        <title>Aiko Novel</title>
        <!--css bootstrap--> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
        <link href="{% static 'app/css/home.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/base.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/transteam.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/register.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/profile.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/novelworks.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/novel.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/write.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/read.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/group.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/fontawesome-free-6.5.1-web/css/all.min.css' %}" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet">
        <!--js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="{% static 'app/js/loadPage.js'%}"> </script>
        <script src="{% static 'app/js/home.js'%}"> </script>
        <script src="{% static 'app/js/transteam.js'%}"> </script>
        <script src="{% static 'app/js/profile.js'%}"> </script>
        <script src="{% static 'app/js/novel.js'%}"> </script>
        <script src="{% static 'app/js/library.js'%}"> </script>
        <script src="{% static 'app/js/checkform.js'%}" defer> </script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--nar bar-->
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
          {{ message }}
        </div>
        {% endfor %}
          <nav class="navbar navbar-expand-lg py-0" style="background-color: #ffffff; user-select: none;">
            <div class="container-fluid container">
              <a class="navbar-brand py-0" href="{% url 'home' %}">
                <img src="{% static 'app\images\logo\main-logo-1.png' %}" width="70" class="py-0"/> 
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Trang chủ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'list' type='all' %}">Danh sách</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Khác
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#"></a></li>
                      <li><a class="dropdown-item" href="#">Hướng dẫn</a></li>
                      <li><a class="dropdown-item" href="#">Chúng tôi</a></li>
                    </ul>
                  </li>
                </ul>
                <form id="search-form" action="/search" method="get">
                  <input class="search-input" type="search" placeholder="Search" name="keywords">
                  <button class="search-icon" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">
                  {% if not user.is_authenticated %}
                  <div class="anon-user" data-a-target="user-cart">
                    <div class="btn-div">
                      <button data-a-target="login-buttton" class="btn login-btn" onclick="loadLoginForm()">
                        <div class="text-btn-div">
                          <div class="text-btn">
                            Đăng nhập
                          </div>
                        </div>
                      </button>
                      <div class="load-login-form"></div>
                    </div>
                    <div class="btn-div">
                      <button data-a-target="signup-buttton" class="btn signup-btn" onclick="loadRegisterForm()">
                        <div class="text-btn-div">
                          <div class="text-btn">
                            Đăng ký
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                  {% elif user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link avatar page_user" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-inline: 7px; {% if InfoUser.img_avatar %} background-image: url('{{ InfoUser.img_avatar.url }}'); {% endif %}">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item account" href= {% url 'profile' username=user.username %}>
                          <div class="avatar page_user"{% if InfoUser.img_avatar %} style="background-image: url('{{ InfoUser.img_avatar.url |default_if_none:"#" }}');" {% endif %}></div>
                          <div class="user-name"><p>{{ InfoUser.full_name }}</p></div>
                        </a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'library' %}">Thư viện</a></li>
                      <li><a class="dropdown-item" href="#" onclick="loadChangePasswordForm()">Đổi mật khẩu</a></li>
                      <li><a class="dropdown-item" href= {% url 'transteam' %}>Danh sách nhóm</a></li>
                      <li><a class="dropdown-item" href= {% url 'logout' %}>Đăng xuất</a></li>
                    </ul>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        <!--main-content-->
        {% block banner_slider %} {% endblock banner_slider %}
        {% block main_content %} {% endblock main_content %}
        {% block register %}  {% endblock register %}
        <!-- load form -->
        {% if not user.is_authenticated %}
        {% include 'app/register.html' %}
        {% include 'app/login.html' %}
        {% else %}
        {% include 'app/changepassword.html' %}
        {% endif %}
        <!-- footer-->
        <footer class="container--fluid bg-success text-center b-2 mt-5 py-3 fs-5 text-white">
          Aiko Novel - All rights reserved
        <footer>

        <script src="" async defer></script>
    </body>
</html>
