<div id="changeinfo-form" style="display: none; height: 100vh; position: fixed">
  <div class="overlay">
    <div class="overlay-dialog">
      <div class="dialog">
        <div class="dialog-body">
          <div class="dialog-container">
            <form
              action="changePasswordPane"
              class="cmn-form-web"
              method="POST"
            >
              {% csrf_token %}
              <div class="form-main-logo"></div>
              <div class="form-title">Thay đổi mật khẩu</div>
              <div class="form-input">
                <div class="el-input">
                  <input
                    type="password"
                    name="oldpassword"
                    id="oldpassword"
                    autocomplete="new-password"
                    class="el-input-inner"
                  />
                  <label for="oldpassword" class="input-label"
                    >Mật khẩu cũ</label
                  >
                </div>
                <div class="el-input">
                  <input
                    type="password"
                    name="newpassword"
                    id="newpassword"
                    autocomplete="new-password"
                    class="el-input-inner"
                  />
                  <label for="newpassword" class="input-label"
                    >Mật khẩu mới</label
                  >
                </div>
                <div class="el-input">
                  <input
                    type="password"
                    name="repassword"
                    id="repassword"
                    autocomplete="new-password"
                    class="el-input-inner"
                  />
                  <label for="repassword" class="input-label"
                    >Nhập lại mật khẩu</label
                  >
                </div>
              </div>
              <button type="submit" class="el-button">
                <span>Đổi mật khẩu</span>
              </button>
            </form>
            <div class="dialog-close" onclick="closeChangePasswordForm()">
              <i class="fa-solid fa-x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
