{% extends "app/base.html" %}
{% load static %}
{% block banner_slider %}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active banner-img-blur">
        <img src=" {% static 'app/images/banner-slider/banner-welcome.jpg' %}" class="d-block w-100 banner-size" alt="..." height="400">
      </div>
      <!--
      <div class="carousel-item banner-size">
        <img src=" {% static 'app/images/banner-slider/banner-welcome.jpg' %}" class="d-block w-100" alt="..." height="400">
      </div>
      <div class="carousel-item banner-size">
        <img src=" {% static 'app/images/banner-slider/banner-welcome.jpg' %}" class="d-block w-100" alt="..." height="400">
      </div>
    </div>
    -->
  </div>
{% endblock banner_slider %}
{% block main_content %}
  <div id="mainpart" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
          <div class="b_title">
            <strong>
              <i class="fas fa-award"></i> Truyện Nổi Bật
            </strong>
            <div id="slider" class="owl-carousel owl-theme" style="opacity: 1; display: block">
              <div class="owl-carousel-outer">
                <div class="owl-wrapper" style="width: 3329px; left: 0px; display: block">
                  <div class="owl-item" style="width: 212px">
                    <div class="slide-item">
                      <a title="Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken" href="#">
                        <div class="image lazy page_aiko_31758421" style="background-image: url();"> </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main_content %}
