{% extends "app/base.html" %}
{% load static %}
{% block banner_slider %}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active banner-img-blur">
        <img src=" {% static 'app/images/banner-slider/banner-welcome.jpg' %}" class="d-block w-100 banner-size img-fluid" alt="..." height="400">
      </div>
      <!--
      <div class="carousel-item banner-size">
        <img src=" {% static 'app/images/banner-slider/banner-welcome.jpg' %}" class="d-block w-100" alt="..." height="400">
      </div>
      <div class="carousel-item banner-size">
        <img src=" {% static 'app/images/banner-slider/banner-welcome.jpg' %}" class="d-block w-100" alt="..." height="400">
      </div>
    </div>
    -->
  </div>
{% endblock banner_slider %}
{% block main_content %}
  <div id="mainpart" class="container-fluid">
    <div class="main-content-area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="b_title">
              <strong>
                <i class="fas fa-award"></i> Truyện Nổi Bật
              </strong>
            </div>
            <div id="slider" class="owl-carousel owl-theme" style="opacity: 1; display: block">
              <div class="slide-item">
                <a title="Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken" href="#">
                  <div class="image lazy page_aiko_31758421"></div>
                  <div class="series-info"> 
                    <div class="series">Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken</div>
                  </div> 
                </a>
              </div>
              <div class="slide-item">
                <a title="Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken" href="#">
                  <div class="image lazy page_aiko_31758421"></div>
                  <div class="series-info"> 
                    <div class="series">Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken</div>
                  </div> 
                </a>
              </div>
              <div class="slide-item">
                <a title="Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken" href="#">
                  <div class="image lazy page_aiko_31758421"></div>
                  <div class="series-info"> 
                    <div class="series">Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken</div>
                  </div> 
                </a>
              </div>
              <div class="slide-item">
                <a title="Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken" href="#">
                  <div class="image lazy page_aiko_31758421"></div>
                  <div class="series-info"> 
                    <div class="series">Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken</div>
                  </div> 
                </a>
              </div>
              <div class="slide-item">
                <a title="Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken" href="#">
                  <div class="image lazy page_aiko_31758421"></div>
                  <div class="series-info"> 
                    <div class="series">Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken</div>
                  </div> 
                </a>
              </div>
              <div class="slide-item">
                <a title="Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken" href="#">
                  <div class="image lazy page_aiko_31758421"></div>
                  <div class="series-info"> 
                    <div class="series">Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken</div>
                  </div> 
                </a>
              </div>
              <div class="slide-item">
                <a title="Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken" href="#">
                  <div class="image lazy page_aiko_31758421"></div>
                  <div class="series-info"> 
                    <div class="series">Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken</div>
                  </div> 
                </a>
              </div>
              <div class="slide-item">
                <a title="Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken" href="#">
                  <div class="image lazy page_aiko_31758421"></div>
                  <div class="series-info"> 
                    <div class="series">Otonari no Tenshi-sama ni Itsu no Aida ni ka Dame Ningen ni Sareteiru ken</div>
                  </div> 
                </a>
              </div>
              <!-- Thêm các phần tử slide khác tương tự ở đây -->
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="news">
              <div class="b_title">
                <a href="{% url "forum-post-list"%}"> 
                  <strong>
                    <i class=""> </i>Diễn đàn
                  </strong>
                </a>
              </div>
              {% for post in latest_posts %}
              <div class="row">
                  <div class="col-9">
                      <a href="{% url 'post-detail' pk=post.pk %}">
                          <div class="title-container">● {{ post.title }}</div>
                      </a>
                  </div>
                  <div class="col-3 text-right date">{{ post.created_at|date:"d/m/Y" }}</div>
              </div>
              {% endfor %} 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content-area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="b_title">
              <strong>Mới cập nhật</strong>
            </div>
            <main class="gridlist">
              {% for novel in novels %}
              {% if forloop.counter <= 14 %}
              <div class = "glitem">
                <a title="Mở đầu" href="#">
                  <img class="image lazy page_aiko_31758421" style="" src="{{novel.img.url}}"></img>
                  <div class="series-info">
                    <div class="vol" title="Tập 01">Tập 01</div>
                    <div class="chap" title="Mở đầu">Mở đầu</div>
                  </div>
                </a>
                <a class="series-name" title="" href="#">
                  {{novel.title}}
                </a>
              </div>
              {% endif %}
              {% endfor %}
              <div class = "glitem">
                <a title="Xem thêm" href="#">
                  <div class="image lazy page_aiko_31758421"></div>
                  <div class="image bg-dark opacity-5"></div>
                  <div class="image d-flex align-items-center justify-content-center text-white display-3"><i class="fa-solid fa-angles-right"></i></div>
                </a>
                <a class="series-name" title="Xem thêm" href="#">
                  Xem thêm
                </a>
              </div>
            </main>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="b_title">
              <strong>Diễn đàn</strong>
            </div>
            <p> 
              <a title="● Đang build diễn đàn Aiko Novel" href="#">● Đang build diễn đàn Aiko Novel</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content-area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="b_title">
              <strong>Truyện mới</strong>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="b_title">
              <strong>Bình luận</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main_content %}
