<div id="login-form" style="display: none; height: 100vh; position: fixed">
  <div class="overlay">
    <div class="overlay-dialog">
      <div class="dialog">
        <div class="dialog-body">
          <div class="dialog-container">
            <form action="loginPage" class="cmn-form-web" method="POST">
              {% csrf_token %}
              <div class="form-main-logo"></div>
              <div class="form-title">Đăng nhập tài khoản</div>
              <div class="form-input">
                <div class="el-input">
                  <input
                    type="text"
                    name="username"
                    id="username"
                    autocomplete="off"
                    class="el-input-inner"
                    placeholder=""
                  />
                  <label for="" class="input-label">Tên người dùng</label>
                </div>
                <div class="error-text">Tài khoản không được để trống</div>
              </div>
              <div class="form-input">
                <div class="el-input">
                  <input
                    type="text"
                    name="password"
                    id="password"
                    autocomplete="new-password"
                    class="el-input-inner"
                    placeholder=""
                  />
                  <label for="" class="input-label">Mật khẩu</label>
                </div>
                <div class="error-text">Mật khẩu không đúng</div>
              </div>
              <button type="submit" class="el-button">
                <span>Đăng Nhập</span>
              </button>
              <div class="another-choice">
                <a href="" class="forgot-password">Quên mật khẩu?</a>
              </div>
              <div class="account-exiting">
                <span>Chưa có tài khoản? </span>
                <span class="click-log" onclick="switchForm()"
                  >Đăng ký ngay</span
                >
              </div>
            </form>
            <div class="dialog-close" onclick="closeLoginForm()">
              <i class="fa-solid fa-x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
