{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Aiko Novel</title>
        <!--css bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
        <link href="{% static 'app/css/home.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/base.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/transteam.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/register.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/novelworks.css' %}" rel="stylesheet"/>
        <link href="{% static 'app/css/fontawesome-free-6.5.1-web/css/all.min.css' %}" rel="stylesheet"/>
        <!--js-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="{% static 'app/js/loadPage.js'%}"> </script>
        <script src="{% static 'app/js/transteam.js'%}"> </script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body style="background-color: #eff4f3;">
        <!--main-content-->
        <div class="app-container">
            <div>
                <div class="works-item-edit">
                    <div id="edit-controls" class="edit-profile">
                        <a class="btn on-edit-cancel" href="{% url 'novel-of-trans-team' group_id=group.id %}">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                        <div class="works-item-metadata" id="novel-id" novel-id="{{ book.id }}">
                            <p class="group-title">Chỉnh sửa thông tin truyện</p>
                            <span><h4>Truyện chưa có tên</h4></span>
                        </div>
                        <div class="actions pull-right">
                            <img src="" alt="" class="save-working">
                            <a class="btn btn-grey on-edit-cancel" href="{% url 'novel-of-trans-team' group_id=group.id %}">Hủy</a>
                            <button class="btn btn-blue on-edit-save" onclick="saveBook()">Lưu</button>
                        </div>
                    </div>
                    <div class="container panel" style="width: 80%">
                        <div class="works-type-select">
                            <button class="on-switch-type" onclick="switchToMainEdit()">Chi tiết</button>
                            <button class="on-switch-type" onclick="switchToTOC()">Mục lục</button>
                            <button class="on-switch-type" onclick="switchToNote()">Ghi chú</button>
                        </div>
                        <section class="work-section">
                            <form action="" method="" class="main-edit-form" style="display: none">
                                {% csrf_token %}
                                <div class="col-lg-4 col-md-4 col-12" id="picture-sidebar">
                                    <div class="image-placeholder file-upload file-drop" data-file-upload="drop">
                                        <div class="icon-upload">
                                            <input type="file" id="image-upload" accept="image/*" onchange="previewImage(event)">
                                                <label for="image-upload">
                                                    <i class="fa-regular fa-image"></i>
                                                    <span class="text-icon">Đăng ảnh</span>
                                                </label>
                                        </div>
                                        <img id="preview" src="{{ book.img_path }}" alt="" class="cover edit-cover page_aiko_31758421 preview" height="256">
                                    </div>
                                </div>
                                <div class="required-form-wrapper col-lg-8 col-md-8 col-12">
                                    <div class="form-group title-form">
                                        <label for="title">Tiêu đề</label>
                                        <span class="empty-warning" id="title-warning"></span>
                                        <div class="novel-title has-title" contenteditable="true">
                                            {{ book.title }}
                                        </div>
                                    </div>
                                    <div class="form-group author-form">
                                        <label for="">Tác giả</label>
                                        <span class="empty-warning" id="author-warning"></span>
                                        <div class="novel-author" contenteditable="true">{{ book.author }}</div>
                                    </div>
                                    <div class="form-group artist-form">
                                        <label for="">Họa sĩ</label>
                                        <span class="empty-warning" id="artist-warning"></span>
                                        <div class="novel-artist" contenteditable="true">{{ book.artist }}</div>
                                    </div>
                                    <div class="form-group trans-team-form">
                                        <label for="">Nhóm dịch</label>
                                        <span class="empty-warning" id="trans-team-warning"></span>
                                        <div class="novel-trans-team" contenteditable="false" worker-id="{{ group.id }}">{{ group.groupname }}</div>
                                    </div>
                                    <div class="form-group category-form">
                                        <label for="">Thể loại</label>
                                        <span class="empty-warning" id="category-warning"></span>
                                        <div class="novel-category dropdown" id="novel-category" contenteditable="true" onclick="toggleDropdown()">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="display: none">
                                                Chọn thể loại
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown-menu" contenteditable₫"false">
                                                {% for category in categories %}
                                                    <li><div class="dropdown-item" data-value="{{ category.id }}" onclick="removeCategory(this)">{{ category.name }}</div></li>
                                                {% endfor %}
                                            </ul>
                                            {% for category_id, category_name in book.categories %}
                                            <div class="category-button" contenteditable="false">
                                                <div data-value="{{ category_id }}" class="category-name">{{ category_name }}</div>
                                                <div class="line"></div>
                                                <div class="category-cancel" onclick="deleteCategory(this);">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <input class="category-search">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group description-form">
                                        <label for="">Mô tả</label>
                                        <span class="empty-warning" id="description-warning"></span>
                                        <textarea id="" cols="30" rows="10" class="novel-description">{{ book.description }}</textarea>
                                    </div>
                                    <div class="form-group status-form">
                                        <label for="">Tình trạng</label>
                                        <div class="novel-status">
                                            <p>Đang tiến hành</p>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                            <p>Đã hoàn thành</p>
                                        </div>
                                    </div>
                                    <div class="form-group time-form">
                                        <label for="">Thời gian đăng</label>
                                        <div class="novel-time" contenteditable="false">{{ book.dateUpload |date:"j/m/Y" }}</div>
                                    </div>
                                </div>
                            </form>
                            <div class="table-of-contents" style="display: none">
                                <div class="works-item-toc p-2">
                                    <div class="add-volume-container w-100 d-flex justify-content-end">
                                        <button class="btn btn-blue" onclick="openAddVolumeForm(event, 0)">+ Thêm tập mới</button>
                                    </div>
                                </div>
                                {% for volume in volumes %}
                                <div class="works-item-volume" volume-id="">
                                  <div class="add-volume-container d-flex justify-content-between p-2">
                                      <div class="volume-name">
                                          {{volume.title}}
                                      </div>
                                      <div class="volume action">
                                          <a class="btn btn-blue" href="{% url 'write' volume_id=volume.id chapter_id=0 %}" id="add-chapter-link">Thêm chương mới</a>
                                          <button class="btn btn-blue" onclick="openAddVolumeForm(event, {{volume.id}})">Sửa</button>
                                          <a class="btn btn-blue" href=" {% url 'delete-volume' volume_id=volume.id %}">Xóa</a>
                                      </div>
                                  </div>
                                  <div class="volume-info pb-3 d-flex flex-wrap">
                                      <div class="volume-img col-md-3 col-12 d-flex justify-content-center">
                                          <image class="volume-img-main page_aiko_31758421" {% if volume.img %} src="{{volume.img.url}}" {% endif %}></image>
                                      </div>
                                      <div class="container volume-details col-md-9 col-12 porel">
                                          <div class="volume-chapters w-100 table-responsive">
                                            <table class="table table-striped">
                                              <tbody>
                                                {% for chapter in chapters %}
                                                {% if chapter.volume == volume %}
                                                <tr>
                                                  <td class="volume-chapter-details pe-3">
                                                    <div class="chapter-list d-flex justify-content-between">
                                                      <a class="chapter-name col-md-9 col-9 chapter-name-link" href=" {% url 'write' volume_id=volume.id chapter_id=chapter.id %}">
                                                        {% if chapter.title %}
                                                            {{ chapter.title }}
                                                        {% else %}
                                                            Chương chưa có tiêu đề
                                                        {% endif %}
                                                      </a>
                                                      <div class="chapter-dateupload text-end d-none d-md-block">
                                                        {% if chapter.date_upload %}
                                                            {{ chapter.date_upload | date:"j/m/Y"}}
                                                        {% else %}
                                                            Bản thảo
                                                        {% endif %}
                                                      </div>
                                                    </div>
                                                  </td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                              </tbody>
                                            </table>
                                          </div>
                                          <div class="see-more-chapters poabs">
                                            <i class="fa-solid fa-angles-down"></i>
                                          </div>
                                      </div>
                                  </div>
                                  {% endfor %}
                              </div>
                            </div>
                            <div class="note-works" style="display: none">

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        {% include 'app/add-volume-form.html' %}
        <!-- footer-->
        

        <script src="{% static 'app/js/novelworks.js'%}"> </script>
        <script src="" async defer></script>
    </body>
</html>
