{% extends "app/base.html" %}
{% load static %}
{% block main_content %}
    <body>
    <main id="mainpart" class="project-page" style="min-height: 872px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-breadcrumb">
                        <span class="breadcrum-level">
                            <a href="{% url 'home'%}"><i class="fas fa-home"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-block clearfix">
                <div class="col-12 col-lg-9 float-left">
                    <section class="feature-section at-series clear">
                        <main class="section-body">
                            <div class="top-part">
                                <div class="row">
                                    <div class="left-column col-12 col-md-3">
                                        <div class="series-cover">
                                            <div class="series-type">
                                                <span>Truyện dịch</span>
                                            </div>
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio page_aiko_31758421" {% if book.img %} style="background-image: url('{{book.img.url}}');" {% endif %}></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-9 flex flex-col">
                                        <div class="flex-1">
                                            <div class="series-name-group">
                                                <div class="series-name">{{book.title}}</div>
                                            </div>
                                            <div class="series-information mb-0 flex flex-col">
                                                <div class="series-gernes">
                                                    {% for category in book.categories.all %}
                                                        <a class="series-gerne-item" href="{% url 'category' category=category %}">{{category}}</a>
                                                    {% endfor %}
                                                </div>
                                                <div class="info-item">
                                                    <span class="info-name">Tác giả:</span>
                                                    <span class="info-value"><a href="">{{book.author}}</a></span>
                                                </div>
                                                <div class="info-item">
                                                    <span class="info-name">Họa sĩ:</span>
                                                    <span class="info-value"><a href="">{{book.artist}}</a></span>                                                </div>
                                                <div class="info-item">
                                                    <span class="info-name">Tình trạng:</span>
                                                    <span class="info-value">
                                                        {% if book.isCompleted %}
                                                        <a href="{% url 'list' type='completed' %}">
                                                            Đã hoàn thành
                                                        </a>
                                                        {% else %}
                                                        <a href="{% url 'list' type='ongoing' %}">
                                                            Đang tiến hành
                                                        </a>
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="side-features flex-none">
                                            <div class="row">
                                                <div class="col-4 col-md feature-item width-auto-xl">
                                                    <a id="collect" class="side-feature-button button-follow follow" id="follow-btn" data-book-id="{{ book.id }}" data-action="{{ follow_status }}" title="Theo dõi" >
                                                        <span class="block feature-value"><i class="far fa-heart" {% if follow_status == 'unfollow' %} style="font-weight: 900" {% endif %}></i></span>
                                                        <span class="block feature-name"> {{ number_followers }} </span>
                                                    </a>
                                                </div>
                                                
                                                <div class="col-4 col-md feature-item width-auto-xl">
                                                    <div class="catalog-icon side-feature-button">
                                                        <span class="block feature-value"><i class="fas fa-list"></i></span>
                                                        <span class="block feature-name">Mục lục</span>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md feature-item width-auto-xl">
                                                    <div class="side-feature-button">
                                                        <span class="block feature-value"><i class="fas fa-comments"></i></span>
                                                        <span class="block feature-name">Bình luận</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-part">
                                <div class="row">
                                    <div class="summary-wrapper other-facts col-12">
                                        <div class="fact-item">
                                            <div class="fact-name">Tên khác:</div>
                                            <div class="fact-value">{{book.anothername|linebreaks}}</div>
                                        </div>
                                    </div>
                                    <div class="summary-wrapper col-12">
                                        <div class="series-summary">
                                            <h4 class="font-bold">Tóm tắt</h4>
                                            <div class="summary-content">
                                                {{book.description|linebreaks}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </section>
                </div>
                <div id="rd-sidebar" class="col-12 col-lg-3 float-right">
                    <div class="row top-group">
                        <div class="col-12 no-push push-3-m col-md-6 no-push-l col-lg-12">
                            <section class="series-users">
                                <main>
                                    <div class="fantrans-section">
                                        <div class="fantrans-name">Nhóm dịch</div>
                                        <div class="fantrans-value"><a href="{% url 'group' group_id=group.id%}">{{group.groupname}}</a></div>
                                    </div>
                                    <div class="owner-donate" style="padding: 0; display: none"></div>
                                </main>
                            </section>
                        </div>
                    </div>
                    <section class="series-note basic-section gradual-mobile">
                        <header class="sect-header">
                            <span class="sect-title">Chú thích thêm</span><span class="mobile-icon"></span>
                        </header>
                        <main class="d-lg-block">
                            <div class="long-text" style="word-wrap: break-word;">{{book.note}}</div>
                        </main>
                    </section>
                </div>
                <div class="col-12 col-lg-9 float-left">
                    <div style="text-align: center; margin: 0 auto 10px auto;"></div>
                    {% for volume in volumes %}
                    <section class="volume-list at-series basic-section volume-mobile gradual-mobile">
                        <header id="volume_23798" class="sect-header">
                            <span class="sect-title">{{ volume.title }}</span>
                        </header>
                        <div class="row pt-2">
                            <div class="volume-info pb-3 d-flex flex-wrap">
                                <div class="volume-img col-md-2 col-12 d-flex justify-content-center">
                                    <image class="volume-img-main page_aiko_31758421" {% if volume.img %} src="{{volume.img.url}}" {% endif %}></image>
                                </div>
                                <div class="container volume-details col-md-10 col-12 porel" style="max-height: 224px">
                                    <div class="volume-chapters w-100 table-responsive">
                                      <table class="table table-striped">
                                        <tbody>
                                          {% for chapter in chapters %}
                                          {% if chapter.volume == volume %}
                                          <tr>
                                            <td class="volume-chapter-details pe-3">
                                              <div class="chapter-list d-flex justify-content-between">
                                                <a class="chapter-name col-md-9 col-9" href=" {% url 'read' chapter_id=chapter.id %}">
                                                  {% if chapter.title %}
                                                      {{ chapter.title }}
                                                  {% else %}
                                                      Chương chưa có tiêu đề
                                                  {% endif %}
                                                </a>
                                                <div class="chapter-dateupload text-end d-none d-md-block">
                                                  {{ chapter.date_upload | date:"j/m/Y"}}
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                          {% endif %}
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="see-more-chapters poabs">
                                      <i class="fa-solid fa-angles-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% endfor %}
                    <section id="series-comments" class="basic-section">
                        <header class="sect-header tab-list">
                            <span class="sect-title tab-title" data-tab-index="1">Tổng bình luận: {{ total_comments }} <span class="comments-count"></span></span>
                        </header>
                        <main id="fbcmt_root" class="comment-wrapper d-lg-block clear">
                        </main>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'app/js/novel.js'%}"> </script>
</body>
{% endblock main_content %}