{% extends "app/base.html" %}
{% load static %}
{% block banner_slider %}
{% endblock banner_slider %}
{% block main_content %}
    <div id="profile" class="w-100" style="min-height: 100vh">
        <div class="">
            <div class="info w-100">
                <div>
                    {% if userInfo %}
                    <div role="main">
                        <div class="background-img w-100">
                            <div class="save-edit-background w-100" style="display: none">
                                <div class="text-content">
                                    Bạn muốn thay đổi ảnh bìa?
                                </div>
                                <div class="save-button">
                                    <button class="btn btn-transparent">
                                        Hủy
                                    </button>
                                    <button class="btn btn-blue btn primary" onclick="saveBackgroundImage()">
                                        Lưu
                                    </button>
                                </div>
                            </div>
                            <div class="background-img-main col-lg-8 col-md-10 col-sm-12 col-12 p-0">
                                <div class="porel w-100" style="z-index: 1;">
                                {% if userInfo == InfoUser %}
                                    <div class="edit-background-container w-100">
                                        <div class="edit-background">
                                            <div class="input-edit-background icon-upload">
                                                <input type="file" id="background-image-upload" accept="image/*" onchange="previewImageBackground(event)" >
                                                <label for="background-image-upload">
                                                    <i class="fa-regular fa-image"></i>
                                                    <span class="text-icon">Chỉnh sửa ảnh bìa</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                </div>
                                <div class="background-img-data-container w-100 porel">
                                    <div class="porel w-100">
                                        <div class="background-sub w-100" position="{{ userInfo.img_background_position | default_if_none:'#' }}">
                                           
                                            <img src=" {% if userInfo.img_background %}{{ userInfo.img_background.url | default_if_none:'#' }}{% endif %}" alt="" class="background-img-data">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="background-img-overlay" style="background-image:  {% if userInfo.img_background %} url('{{ userInfo.img_background.url|default_if_none:"#"}}' {% endif %});">
                                <div class="background-img-container"></div>
                            </div>
                        </div>
                        <div class="detail w-100">
                            <div class="detail-main col-lg-8 col-md-10 col-sm-12 col-12">
                                <div class="avatar w-100">
                                    <div class="avatar-main col-sm-12 col-12" >
                                        <div class="avatar-main-data poabs">
                                            <div class="porel w-100 page_user cir168 bdavt" {% if userInfo.img_avatar %} style="background-image: url('{{ userInfo.img_avatar.url }}');" {% endif %}>
                                                <script> 
                                                    positionBackground();
                                                </script>
                                                {% if userInfo == InfoUser %}
                                                <div class="input-edit-avatar icon-upload bkgr btn-circle cir35 align-items-end">
                                                    <input type="file" id="avatar-upload" accept="image/*" onchange="saveAvatarImage()">
                                                    <label for="avatar-upload">
                                                        <i class="fa-regular fa-image font-large"></i>
                                                    </label>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-user col-lg-5 col-md-5 col-sm-12 col-12"> 
                                        <div class="user-fullname">
                                            {{ userInfo.full_name }}
                                        </div>
                                    </div>
                                    <div class="another col-lg col-md col-sm-12 col-12 porel">
                                        {% if userInfo == InfoUser %}
                                        <div class="btn btn-grey edit-profile-btn" onclick="loadEditProfileForm()">Chỉnh sửa hồ sơ</div>
                                        <div id="edit-profile-form" style="display: none; height: 100vh; position: fixed">
                                            <div class="overlay">
                                                <div class="overlay-dialog">
                                                    <div class="edit-profile dialog">
                                                        <div class="dialog-title w-100">
                                                            <div class="form-title">Chỉnh sửa hồ sơ</div>
                                                        </div>
                                                        <div class="dialog-body w-100">
                                                            <div class="dialog-close" onclick="closeEditProfileForm()">
                                                                <i class="fa-solid fa-x"></i>
                                                            </div>
                                                            <h5 class="title">Chỉnh sửa tên</h5>
                                                            <div class="edit-profile-name">
                                                                <div class="profile-name-data col" contenteditable="true">{{ userInfo.full_name }}</div>
                                                                <button class="btn btn-blue" onclick="saveFullName()">Lưu</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-join d-flex justify-content-center">
                        <div class="group-join-container col-lg-8 col-md-10 col-sm-12 col-12">
                            <div class="group-join-container col-md-5 col-12 panel">
                                <div class="group-join-title porel">
                                    <p class="title p-2 fs-5 fw-semibold">
                                        Nhóm đã tham gia
                                    </p>
                                </div>
                                <main class="group-list d-flex flex-column">
                                    {% for group in groups %}
                                    <div class="group-info pb-3">
                                        <a href="{% url 'group' group_id=group.id %}" class="group-title fs-5 w-100 fw-semibold">
                                            <i class="fa-solid fa-users-rectangle"></i>   
                                            {{ group.groupname }}
                                        </a>
                                    </div>
                                    {% endfor %}
                                </main>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p>No user information found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
