    <div id="register-form" style="display: none; height: 100vh; position: fixed; z-index: 1020">
      <div class="overlay">
        <div class="overlay-dialog">
          <div class="dialog">
            <div class="dialog-body">
              <div class="dialog-container">
                <form action="{% url 'register' %}" class="cmn-form-web" method="POST">
                  {% csrf_token %}
                  <div class="form-main-logo">
                  </div>
                  <div class="form-title">Đăng ký tài khoản</div>
                  <div class="form-input">
                    <div class="el-input">
                      <input type="text" id="username" name="username" autocomplete="off" class="el-input-inner" placeholder="">
                      <label for="" class="input-label">Tên người dùng</label>
                    </div>
                    <div class="error-text" style="display: none;"></div>
                  </div>
                  <div class="form-input">
                    <div class="el-input">
                      <input type="text" id='email' name="email" autocomplete="off" class="el-input-inner" placeholder="">
                      <label for="" class="input-label">Email</label>
                    </div>
                    <div class="error-text" style="display: none;"></div>
                  </div>
                  <div class="form-input">
                    <div class="el-input">
                      <input type="password" id="password" name="password"autocomplete="new-password" class="el-input-inner" placeholder="">
                      <label for="" class="input-label">Mật khẩu</label>
                    </div>
                    <div class="error-text" style="display: none;"></div>
                  </div>
                  <div class="form-input">
                    <div class="el-input">
                      <input type="password" id="repassword" name="repassword" autocomplete="new-password" class="el-input-inner" placeholder="">
                      <label for="" class="input-label">Nhập lại mật khẩu</label>
                    </div>
                    <div class="error-text" style="display: none;"></div>
                  </div>
                  <input type="hidden" name="current-url" value="{{ request.build_absolute_uri }}">
                  <div class="agreement-item-list">
                    <label for="" class="el-checkbox">
                      <span class="el-checkbox-input" aria-checked="false">
                        <input type="checkbox" class="el-checkbox-original checkbox rounded-circle" id="agreement-check" onclick="toggleCheckAggreToTerms()">
                        <label class="el-checkbox-inner" for="agreement-check"></label>
                      </span>
                      <span class="el-checkbox-label">
                        <div>
                          <span><span>Tôi đã đọc và đồng ý </span></span>
                          <span><a href="#" class="el-link"><span>Điều Khoản Dịch Vụ</span></a></span>
                          <span> &amp; </span>
                          <span><a href="#" class="el-link"><span>Chính Sách Về Quyền Riêng Tư</span></a></span>
                        </div>
                      </span>
                    </label>
                  </div>
                  <button class="el-button disable" type="submit" style="pointer-events: none;"><span>Đăng Ký</button></div>
                  <div class="account-exiting">
                    <span>Đã có tài khoản? </span>
                    <span class="click-log" onclick="switchForm()">Đăng nhập</span>
                  </div>
                </form>
              </div>
              <div class="dialog-close" onclick="closeRegisterForm()">
                <i class="fa-solid fa-x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>