body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;;
    font-size: 16px;
    background: #fafafa;
    line-height: 1.42857143;
}

b, strong {
    font-weight: 700;
}

a {
    color: blue !important;
    text-decoration: none;
}

p {
    margin: 0 0 10px;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
}


/* Navbar */

.navbar .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
}

.nav-link {
    font-weight: 700;
    font-size: large;
}

.navbar .account {
    width: 220px;
}

.navbar .account .avatar {
    display: table-cell;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-size: cover;
}

.navbar .account .user-name {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 700;
    width: 124px;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 10px;
}

#search-form {
    width: 210px;
    height: 36px;
    border-radius: 20px;
    border: 1px solid #0dcaf0;
    line-height: 36px;
    float: right;
    background-color: #ffffff;
    margin-inline-end: 25px;
}

.search-input {
    margin-left: 20px;
    width: 150px;
    height: 100%;
    font-size: 14px;
    background-color: transparent;
    border: 0;
    outline: none;
}

.search-icon {
    width: 36px;
    color: #ccc;
    float: right;
    background: transparent;
    border: 0;
    padding: 0;
}

.anon-user {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.btn-div {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.btn {
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    font-weight: 600;
    border-radius: 0.4rem;
}

.btn:focus {
    text-decoration: none;
}

.login-btn {
    background-color: hsla(240, 7%, 70%, .22);
    color: blue;
    border-color: blue;
}

.signup-btn {
    background-color: blue;
    color: white;
}

/* Another */

.panel {
    margin-bottom: 24px;
    background-color: #fff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
    box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
}