
/* Banner slider */
.banner-size {
    box-sizing: border-box;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/banner-slider/banner-welcome.jpg');
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(50px);
    z-index: -1;
}

/* Main content */

#mainpart {
    width: 100%;
    padding-top: 20px;
    min-height: 350px;
}

.main-content-area {
    padding-top: 40px;
}

/* Main content recent*/

.b_title {
    height: 23px;
    padding-top: 7px;
    margin-bottom: 30px;
}

.b_title strong {
    box-sizing: border-box;
    color: white;
    background: blue;
    padding: 10px 15px;
}

.slide-item {
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.slide-item .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    display: block;
    background-size: cover;
}

.page_aiko_31758421 {
    background-image: url('../images/owl-item/z5158133494263_62927f8856bd31843e88a5d56eeab850.jpg');
    background-size: cover;
}

.page_user {
    background-image: url('../images/icon/default-avatar-profile-icon-of-social-media-user-vector.jpg');
    background-size: cover;
}

.slide-item .series-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .5) 20%, rgba(0, 0, 0, .9));
}

.slide-item .series-info .series {
    font-size: 16px;
    margin-top: 15px;
    height: 44px;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
}

.slide-item .series-info .series:hover {
    color: #afeeee;
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    cursor: pointer;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    border-radius: 20px;
    background: #869791;
}

.gridlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gridlist .glitem {
    display: block;
    position: relative;
    margin-bottom: 50px;
}

.gridlist .glitem .image {
    object-position: top;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    display: block;
    background-size: cover;
}

.gridlist .glitem .series-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .5) 20%, rgba(0, 0, 0, .9));
}

.gridlist .glitem .series-info .vol {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    color: #f0f0f0;
    text-decoration: none;
    display: block;
}

.gridlist .glitem .series-info .chap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    color: #0dcaf0;
    text-decoration: none;
    display: block;
}

a.series-name {
    margin-left: 5%;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 0;
    width: 90%;
    margin-bottom: -25px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .banner-size {
        padding-inline: 0;
    }

    .slide-item {
        width: 170px;
        height: 200px;
    }

    .gridlist .glitem {
        width: 130px;
        height: 167px;
    }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    .banner-size {
        padding-inline: 0;
    }

    .slide-item {
        width: 170px;
        height: 200px;
    }
    
    .gridlist .glitem {
        width: 150px;
        height: 170px;
    }

}

@media screen and (min-width: 980px) and (max-width: 1199px) {
    .banner-size {
        padding-inline: 0;
    }

    .slide-item {
        width: 170px;
        height: 200px;
    }
    
    .gridlist .glitem {
        width: 120px;
        height: 142px;
    }

}

@media screen and (min-width: 1200px) {
    .banner-size {
        padding-inline: 9%;
    }
    
    .slide-item {
        width: 200px;
        height: 260px;  
    }

    .gridlist .glitem {
        width: 162px;
        height: 198px;
    }

}

.title-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.date {
    font-size: 14px;
    color: #666;
}